/*COLORS*/
$primary: #003E58;
$d-primary: darken($primary,8%);
$l-primary: lighten($primary,12%);

$secondary: #006d6d;
$d-secondary: darken($secondary,5%);
$l-secondary: lighten($secondary,7%);

$warning:#ee6e73;

$black: #1e1e1e;
$l-black: #333333;

$gray: #4c4c4c;
$d-gray: darken($gray,5%);
$l-gray: #C6C6C6;

$twitter: #1da1f2;

$white: #fff;

/*END COLORS*/